@media all and (min-width: 324px) {
    .fondo {
        background: #fff;
        height: 60vh;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .img-contenedor2 {
        height: 12em;
        width: 100%;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaf9f9;
        flex-direction: column;
    }
    .img-contenedor2 > img {
        height: 7em;
    }
    .img-contenedor2 > h6 {
        color: rgba(2, 2, 2, 0.732);
    }
    .img-contenedor2 > p {
        font-size: small;
    }
}

@media all and (min-width: 768px) {
    .fondo {
        background: #fff;
        height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-contenedor2 {
        height: 12em;
        width: 100%;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaf9f9;
        flex-direction: column;
    }
    .img-contenedor2 > img {
        height: 7em;
    }
    .img-contenedor2 > h6 {
        color: rgba(2, 2, 2, 0.732);
    }
    .img-contenedor2 > p {
        font-size: small;
    }
}
